.root{
	-fx-background-image: url("/res/postGame.jpg");
	-fx-background-size: stretch;
	-fx-background-repeat: no-repeat;
	
}

.inventarioBox{

}

.button{
	 -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}

.button:hover{
	-fx-background-color: 
        linear-gradient(#ffd65b, #ff4d4d);
  
	
}

.labelProject{
	-fx-text-fill: white;
}

.lista
{
 -fx-focus-color: transparent; 
  -fx-font: 15pt "Arial";
  -fx-text-alignment: center;
}


.list-view .list-cell {
-fx-background-image: url("/res/gradiente.jpg");
-fx-background-size: 800;
-fx-background-position: top;
 -fx-text-alignment: center;
-fx-text-fill: white;
} 


.list-view .list-cell:hover{
-fx-background-image: null;
-fx-background-color: grey;
-fx-background-position: top;
 -fx-text-alignment: center;
-fx-text-fill: white;

}


.list-view .list-cell:selected{
	-fx-background-image: null;
	-fx-background-color: #262626;
-fx-background-position: top;
 -fx-text-alignment: center;
-fx-text-fill: white;
}

.myDialog{
    -fx-background-color: black;
}


